.image-team {
    display: block; /* Necessário para usar `margin` para centralização */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 600px; /* Define o tamanho máximo da largura */
    height: auto; /* Mantém a proporção da imagem */
}


.context {
    margin-bottom: 40px;

}