// Hero Section
.hero-section {

  text-align: center;
  background-color: $black;
  color: $light-gray;
  padding: 60px 0;

  .hero-title {
    font-family: $headers-font;
    font-size: 3.5rem;
    color: #CFD8DC;
    text-shadow:
    0 0 10px #00E676,
    0 0 20px #00E676,
    0 0 30px rgba(0, 230, 118, 0.6);
    margin-bottom: 20px;
  }

  .hero-subtitle {
    font-family: $body-font;
    font-size: 1.6rem;
    color: #CFD8DC;
    text-shadow:
    0 0 10px #00E676,
    0 0 20px #00E676,
    0 0 30px rgba(0, 230, 118, 0.6);
    margin-bottom: 30px;
  }

  .featured-product {
    display: flex;
    align-items: center;
    margin-top: 30px;
    border: 6px solid $purple;

    .featured-image {
      //width: 100%;
      //object-fit: contain;
      //max-width: 1000px;
      height: 50vh;
      margin: 0 auto;
      border-radius: 12px;
      object-fit: cover;
      //box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    }

    .product-title {
      font-size: 2.2rem;
      font-weight: bold;
      color: $yellow;
      margin-top: 15px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
    }

    .discount {
      font-size: 1.5rem;
      color: #CFD8DC;
      text-shadow:
      0 0 10px #00E676,
      0 0 20px #00E676,
      0 0 30px rgba(0, 230, 118, 0.6);
      font-weight: bold;
      margin-bottom: 25px;
    }

    .btn-primary {
      background-color: $yellow;
      border-color: $yellow;
      color: #CFD8DC;
      font-weight: bold;
      padding: 12px 25px;
      border-radius: 8px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
      &:hover {
        background-color: darken($yellow, 10%);
      }
    }
  }
}

// Features Section
.features-section {
  //display: flex;
  //justify-content: space-between;
  // background-color: $purple;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  //padding: 50px;
  color: $light-gray;
  margin-bottom: 50px;
  align-items: center;

  .why-us {
    flex: 1;
    padding: 20px;

    h3 {
      font-family: $headers-font;
      font-size: 2rem;
      margin-bottom: 25px;
      color: $yellow;
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-family: $body-font;
        font-size: 1.2rem;
        margin-bottom: 15px;
        line-height: 1.5;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
        &:before {
          content: '✔';
          color: $green;
          margin-right: 10px;
        }
      }
    }
  }

  .cta {
    flex: 1;
    text-align: center;
    padding: 20px;

    h3 {
      font-family: $headers-font;
      font-size: 2rem;
      color: $yellow;
      margin-bottom: 25px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
    }

    .btn-warning {
      background-color: $yellow;
      border-color: $yellow;
      color: #CFD8DC;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
      font-weight: bold;
      padding: 12px 25px;
      border-radius: 8px;
      &:hover {
        background-color: darken($yellow, 10%);
      }
    }
  }
  // Categories Section
  .categories-section {
    height: 100%;
    display: flex;
    gap: 16px;
    justify-content: space-around;
    //margin-top: 50px;
    //background-color: $black;
    padding: 0 50px;

    .category-card {
      text-align: center;
      //background-color: $light-gray;
      border: 2px solid $green;
      border-radius: 12px;
      padding: 25px;
      //width: 280px;

      .category-image {
        width: 100%;
        max-width: 350px;
        height: auto;
        margin-bottom: 15px;
        border-radius: 10px;
        //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      }

      h4 {
        font-family: $headers-font;
        font-size: 1.6rem;
        color: $purple;
        margin: 15px 0;
      }

      .btn-home {
        //background-color: $green;
        border-color: $green;
        //color: $black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
        padding: 10px 20px;
        border-radius: 8px;
        &:hover {
          background-color: black($green, 10%);
        }
      }
    }
  }
}
