<div class="confirmation-page text-center">
  <h1 class="text-neon mt-4">THANK YOU!</h1>
  <p class="lead mt-4">
    Your order has been successfully placed and will be shipped soon.
  </p>
  <div class="line mt-4"></div>
  <%= link_to "Back to Home", root_path, class: "btn btn-primary mt-4" %>
</div>
