@import "config/colors";
@import "config/fonts";

.footer {
  background: $purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 6.25rem;
  padding: 0 3.125rem;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $light-gray;
  opacity: 0.7;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 0.625rem;
  transition: all 0.2s ease;
}

.footer-links a:hover {
  opacity: 1;
  color: $green;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  color: $light-gray;
  font-family: $body-font;
}
