@import "config/colors";
@import "config/fonts";

// Estilos para o formulário de produtos
.product-form-container {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.25rem;
  margin: 3.125rem auto;
  max-width: 75rem;
  border: 2px solid $green;
  border-radius: 0.625rem;
  background-color: $black;
  box-shadow: 0 0.25rem 0.9375rem rgba(81, 45, 168, 0.8);
}

// Coluna do formulário
.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;

  // Estiliza os labels do Simple Form
  .form-label {
    color: $light-gray;
    font-family: $body-font;
    font-size: 1rem;
    text-align: left;
  }

  // Estiliza os inputs (usando as classes do simple_form)
  .form-control,
  .custom-input,
  .custom-textarea,
  .custom-select {
    background-color: $black;
    border: 2px solid $green;
    border-radius: 0.3125rem;
    color: $light-gray;
    padding: 0.625rem;
    font-size: 0.875rem;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);

    &:focus {
      border-color: #aafaff;
      outline: none;
    }
  }

  // Específico para o input de arquivo (para parecer customizado)
  .custom-file-input {
    color: $light-gray;
  }
}

// Estilos para o botão de submissão
.form-footer {
  margin-top: 1.25rem;

  // Estilos para o botão de submissão
  .btn-submit {
    background-color: $yellow;
    color: $purple;
    font-family: $headers-font;
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    font-weight: bold;
    border-radius: 0.3125rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: darken($yellow, 10%);
      box-shadow: 0 4px 10px rgba(255, 195, 0, 0.6);
    }
  }
}

// Título do formulário com ícone
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
  font-weight: 300;

  i {
    font-size: 1.25rem;
    color: $green;
    margin-bottom: 1.25rem;
    margin-top: 0.625rem;
  }
}

// Estilo do título com sombra
.title-shadow {
  font-size: 2.25rem;
  color: $light-gray;
  text-shadow: 0px 4px 8px rgba(0, 230, 118, 0.8),
               0px 0px 15px rgba(128, 0, 128, 0.8);
}
