// Variáveis de Cor
$navbar-purple: #512DA8;
$navbar-text:   #CFD8DC;
$navbar-hover:  #00E676;
$navbar-yellow: #FDEE00; // (Amarelo do carrinho)
$navbar-font:   'Michroma', sans-serif;
$navbar-text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);

.navbar-spacetraders {
  background-color: $navbar-purple;
  border-bottom: 1px solid darken($navbar-purple, 10%);
  font-family: $navbar-font;

  // --- LOGO (Esquerda) ---
  .navbar-brand img {
    height: 60px; // Ajuste conforme necessário
    width: auto;
  }

  // --- LINKS (Centro) ---
  .navbar-nav.mx-auto {
    .nav-link {
      color: $navbar-text;
      text-shadow: $navbar-text-shadow;
      font-size: small;
      padding: 0 4rem; // Espaçamento entre os links
      transition: color 0.2s ease;

      &:hover {
        color: $navbar-hover;
      }
    }
  }

  // --- ÍCONES (Direita) ---
  .navbar-icons {
    .nav-link {
      font-size: 1.5rem;
      padding: 0 0.5rem;
      color: $navbar-text;
      transition: color 0.2s ease;
      text-shadow: $navbar-text-shadow;

      &:hover {
        color: $navbar-hover;
      }
    }

    // Ícone do Carrinho (amarelo)
    .fa-cart-shopping {
      color: $navbar-yellow;
    }

    // Ícone do Usuário
    .fa-user {
      color: black;
      background-color: #8a63e6;
      border-radius: 50%;
      padding: 4px;
      font-size: 1.3rem;
      text-shadow: none; // Remover a sombra daqui
    }

    .dropdown-menu {
      margin-top: 10px;
    }
  }

  // --- Cor do Toggler (Hambúrguer) ---
  .navbar-toggler {
    .navbar-toggler-icon {
      filter: invert(1) brightness(2); // Deixa o ícone branco
    }
  }
}
