@import "config/colors";
@import "config/fonts";

.signup-container {
  max-width: 25rem;
  margin: 3.125rem auto;
  padding: 1.875rem;
  border: 2px solid $green;
  border-radius: 0.625rem;
  background-color: $black;
  box-shadow: 0 0.25rem 0.625rem $purple;
  color: $light-gray; // Cor de texto padrão

  .form-title {
    font-family: $headers-font;
    text-align: center;
    color: $light-gray;
    font-size: 2rem;
    text-shadow: 0 2px 5px rgba(0, 230, 118, 0.8);
    margin-bottom: 1.25rem;
  }

  .fa-user-plus {
    font-size: 1.5rem;
    color: $green;
  }

  .signup-form {
    // Estiliza os 'labels' (Email, Password) do Simple Form
    .form-label {
      color: $light-gray;
      font-family: $body-font;
      font-size: 1rem;
    }

    // Estiliza os 'inputs' (caixas de texto) do Simple Form
    .form-control {
      background-color: $black;
      border: 2px solid $green;
      color: $light-gray;
      padding: 0.625rem;
      font-size: 0.875rem;
      border-radius: 0.3125rem;
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);

      &:focus {
        border-color: #aafaff;
        outline: none;
        background-color: #111;
      }
    }
  }

  .form-actions {
    text-align: center;
    margin-top: 1.25rem;

    .btn-submit {
      background-color: $yellow;
      color: $purple;
      font-family: $headers-font;
      border: none;
      padding: 0.625rem 1.25rem;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 0.3125rem;
      transition: all 0.3s ease;

      &:hover {
        background-color: darken($yellow, 10%);
        box-shadow: 0 4px 10px rgba(255, 195, 0, 0.6);
      }
    }
  }

  .links {
    text-align: center;
    margin-top: 0.9375rem;

    a {
      color: $green;
      font-family: $body-font;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
