<div class="title-container mt-4">
  <h1 class="text-center title-shadow">EDIT PRODUCT</h1>
</div>
<div class="line mb-4"></div>

<%= render 'form', product: @product %>

<%= link_to 'Back to Product', @product, class: 'btn btn-secondary mt-4' %>
