<div class="title-container mt-4">
  <i class="fa-solid fa-desktop"></i> <!-- Ãcone (Font Awesome ou SVG) -->
  <h1 class="text-center title-shadow">REGISTER PRODUCT</h1>
</div>

<div class="line mb-4"></div>

<div class="form-container">
  <%= render "form", product: @product %>
</div>
