.product-image {
    width: 100%; /* Limita a largura */
    height: 300px; /* Mantém a proporção */
    object-fit: contain; /*impede que a imagem distorçida */
     background-color: #fff;
  }
  
.btn-buy {
  border: 2px solid #f1f504; /* Borda preta de 2px */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 30px; /* Bordas levemente arredondadas */
  background-color: #f1f504;
  color: #512DA8;
}