.product-image-carousel {
    width: 100%; /* Limita a largura */
    height: 400px; /* Mantém a proporção */
    object-fit: contain; /*impede que a imagem distorçida */
    //  background-color: #fff;
}


.product-overview {

    color: #512DA8;
    font-family: 'Michroma', sans-serif;
    font-size: 15px;
    
}

.product-specs {

    list-style-type: none ;

}


.font-style {
    
    color: #512DA8;
    font-family: 'Michroma', sans-serif;
    font-size: 15px;
}

.price {
    color: #FFC300;
   
}